.operator {
  &-block-active {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    height: 105px;
    background-color: #eef0f3;
    text-decoration: none;
    padding-top: 12px;
    cursor: pointer;

    .active-icons {
      gap: 9px;
    }
    span {
      color: #383c45;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
    }
    &-link:nth-child(2) {
      color: #707675 !important;
      font-size: 14px !important;
      font-weight: 600;
      padding-left: 30px;
    }
    &-link:nth-child(3) {
      color: #00b346 !important;
      font-size: 14px;
      font-weight: 500;
      padding-left: 30px;
    }
  }
  &__container {
    display: flex;
    column-gap: 125px;
    margin-top: 70px;
  }

  &__content {
    position: relative;
    border-radius: 15px;
    border: 1.5px solid #e8eaec;
    background: #fff;
    max-width: 538px;
    width: 100%;
  }
  &__header {
    border-radius: 15px 15px 0 0;
    background: #00b346;
    padding: 21px 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid white;

    &-arrow {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
    }

    &-ava {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      width: 44px;
      height: 44px;
    }

    &-ava img {
      width: 100%;
      height: 100%;
    }

    &-title {
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }

    &-subtitle {
      color: #ffdf6e !important;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 5px;
      padding: 0 !important;
    }
  }

  &__body {
    height: 395px;
    padding: 32px 20px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px; /* Ширина скроллбара */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #999999; /* Цвет ползунка */
      border-radius: 5px; /* Скругление углов ползунка */
    }

    &-new {
      &-data {
        color: #808080;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 12px !important;
        padding-top: 0 !important;
      }

      &-i {
        display: flex;
        justify-content: flex-end;

        &-block {
          border-radius: 20px 20px 0 20px;
          background: #00b346;
          max-width: calc(50% - 39px);
          position: relative;
          padding: 7px 14px 17px;
          margin-bottom: 12px;

          &-text {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
          }

          &-time {
            position: absolute;
            bottom: 5px;
            right: 12px;
            color: #f0f0f0;
            font-size: 8px;
            font-weight: 400;
          }
        }
      }

      &-you {
        display: flex;
        justify-content: flex-start;

        &-block {
          margin-bottom: 12px;
          max-width: calc(50% - 39px);
          border-radius: 20px 20px 20px 0px;
          background: #f2f2f2;
          position: relative;
          padding: 7px 14px 17px;

          &-text {
            color: #383c45;
            font-size: 14px;
            font-weight: 500;
          }

          &-time {
            position: absolute;
            bottom: 5px;
            right: 12px;
            color: #999;
            font-size: 8px;
            font-weight: 400;
          }
        }
      }
    }
  }

  &__footer {
    border-radius: 500px;
    border: 1.5px solid #e8eaec;
    background: #fff;
    display: flex;
    align-items: center;
    margin: 0 20px 20px;
    position: relative;

    &-left {
      padding: 12px 14px;
    }

    &-mid {
      width: 75%;
    }

    &-mid input {
      border: none;
      width: 100%;
      padding-right: 10px;
    }

    &-right {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #00b346;
      position: absolute;
      right: 2px;
      top: 2px;
    }
  }
}

@media (max-width: 1000px) {
  .operator__container {
    column-gap: 40px;
  }
}

@media (max-width: 900px) {
  .operator__sidebar {
    display: none !important;
  }
  .operator__secret-main {
    display: none !important;
  }
  .operator__content {
    max-width: 100%;
  }
  .operator__personal {
    padding-bottom: 100px;
  }
  .operator__body {
    height: 500px;
  }
  .operator__header-ava {
    right: 20px;
    left: initial;
  }
  .operator__header-arrow {
    display: flex;
  }
}

@media (max-width: 768px) {
  .operator__header-subtitle {
    color: #dedede !important;
    font-size: 12px;
    font-weight: 400;
  }
  .operator__topHeader {
    position: relative !important;
  }
  .operator__personal {
    padding: 0;
  }
  .operator__container {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
  }
  .operator__header {
    border-radius: 0;
  }
  .operator__footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    margin: 0;
  }
  .operator__body {
    height: 83%;
  }
  .operator__content {
    height: 93vh;
    border: none;
  }
}

@media (max-width: 600px) {
  .operator__body-new-i-block {
    max-width: 60%;
  }
  .operator__body-new-you-block {
    max-width: 55%;
  }
  .operator__footer {
    background: #e8eaec;
  }
  .operator__footer-mid-input {
    background: transparent;
    font-size: 14px;
  }
}
