@import "../../styles/variables.scss";
@import "../../styles/adaptive.scss";

.personal-section {
  padding-bottom: 249px;
  text-decoration: none;
  @include centering;
  @include adaptive-value("padding-top", 114, 70, 0);
  box-sizing: border-box;

  &-accardion {
    display: none !important;
  }

  .navigation-titles {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 0 !important;
    a {
      color: #00b346;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      text-decoration: none !important;
      @include adaptive-value("font-size", 16, 15, 0);
    }

    li {
      color: #a8a9ad;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }
  .personal-section-main-block {
    max-width: 350px;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #00b346 0%, #00d955 100%);
    border-radius: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      color: #fff;
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptive-value("font-size", 24, 20, 0);
    }
  }

  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 14.59L10.58 10L6 5.41L7.41 4L13.41 10L7.41 16L6 14.59Z' fill='black'/></svg>");
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 14.59L10.58 10L6 5.41L7.41 4L13.41 10L7.41 16L6 14.59Z' fill='black'/></svg>");
    --bs-accordion-btn-icon-transform: rotate(-90deg);
  }

  .sidebar {
    float: left;
    max-width: 348px;
    width: 100%;
    padding-left: 18px;
    .sidebar-block {
      gap: 9px;
      height: 41px;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      p {
        color: #707675;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    .sidebar-block-active {
      align-items: center;
      gap: 9px;
      border-radius: 8px;
      height: 41px;
      background: #eef0f3;
      text-decoration: none;
      cursor: pointer;
      p {
        color: #383c45;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 12px;
      }
    }
    h5 {
      color: #a8a9ad;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .profile-header {
    display: flex;
    width: 60%;
    gap: 170px;
    justify-content: space-between;
    align-items: center;
    a {
      color: #00b346;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 5px;
      background: none;
      border: none;
      text-decoration: none;
      margin: 0 0 15px;
    }
  }
  .personal-text {
    color: #adb3b3;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
  }
  .profile-img {
    border: 2px solid #00b346;
    width: 65px;
    height: 65px;
    border-radius: 18px;
  }
  .fullName {
    color: #383c45;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    padding-top: 20px;
    @include adaptive-value("font-size", 20, 19, 0);
  }
  .profile-icons {
    width: 40px;
    height: 40px;
    border-radius: 9px;
    background: #ebf9f2;
    img {
      object-fit: cover;
    }
  }
  p {
    color: #707676;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include adaptive-value("font-size", 16, 14, 0);
    padding-top: 13px;
    white-space: nowrap;
  }
}
body {
  background: #fefbf2 !important;
}

a {
  text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  .personal-section {
    padding: 0 2% 72px 2%;

    .personal-section-main-block {
      max-width: 768px;
      height: 50px;
      border-radius: 5px 30px;
    }

    .sidebar {
      max-width: 100%;
      border-top: 1px solid #e8eaec;
      padding-left: 0;
      padding: 0 0 0 2%;
    }

    &-hide {
      display: none !important;
    }
    .accordion-header {
      background: #fefbf2;
    }
    &-accardion {
      display: initial !important;
    }

    .accordion-button {
      display: flex;
      align-items: center;
      column-gap: 9px;
      color: #707675;
      font-size: 14px;
      font-weight: 500;
      padding: 6px 3px 6px 0 !important;
      background: transparent !important;
    }

    .accordion-button:focus {
      outline: none !important;
    }

    .accordion-item {
      border: none;
      background-color: white !important;
    }

    .accordion-body {
      background: #fefbf2;
      display: flex !important;
      flex-direction: column !important;
      row-gap: 10px !important;
      padding: 6px 3px 6px 30px !important;

      &-link {
        color: #907675;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}
