@import "./adaptive.scss";
@import "./variables.scss";

header {
  @include adaptive-value("height", 114, 70, 0);
  background-color: $color_2;

  .container {
    @include centering();

    .header__menu {
      .header__menu-entrails {
        max-width: 109px;

        button {
          height: 34px;
          background-color: $color_1;
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          color: $color_2;

          nav {
            width: 540px;
            height: 144px;
            z-index: 10;
            top: 140%;
            left: -100%;
            display: none;
            background-color: $color_1;
            fill: rgba(255, 255, 255, 0.85);
            stroke-width: 1px;
            stroke: $color_1;
            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(20px);

            img {
              top: -6%;
              left: 28%;
            }

            ul {
              li {
                text-align: start;

                a {
                  color: #383c45;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 210%;
                }
              }
            }

            .menu__latest-list {
              li {
                a {
                  color: #707675;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 250%;
                }
              }
            }
          }
        }
      }
    }

    .header__setting {
      .header__personal-area {
        min-width: 160px;
        height: 34px;
        border: 1px solid $color_1;
        color: $color_1;
        transition: all 0.3s;

        &:hover {
          background-color: $color_1;
          color: $color_2 !important;
          transition: all 0.3s;
        }
      }

      .header__get-money {
        min-width: 160px;
        height: 34px;
        background-color: #ffdf6e;
        color: $color_4;
        transition: all 0.3s;

        &:hover {
          background-color: transparent;
          border: 1px solid #ffdf6e;
          color: $color_1;
          transition: all 0.3s;
        }
      }

      .header__language-btn {
        max-width: 78px;
        height: 34px;
        background-color: rgba(255, 255, 255, 0.75);
        color: $color_2;
      }
    }
  }
}

#menu-toggle {
  position: absolute;
  top: 35px;
  right: 20px;

  input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -3px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    &:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }

    &:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    &:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }

    &:checked ~ #menu {
      transform: translateX(-88%);
    }
  }

  span {
    display: block;
    width: 28px;
    height: 2.5px;
    margin-bottom: 5px;
    position: relative;
    background: $color_1;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:nth-last-child(1) {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }

  #menu {
    position: fixed;
    top: 2px;
    height: 100%;
    max-width: 377px;
    width: 100%;
    margin-left: 20px;
    padding: 75px 10px 0 20px;
    border-radius: 32px 0 0 0;
    font-weight: 500;
    border: 2px solid $color_1;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(254, 251, 242, 0.9);
    transform: translateX(88%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    .burgerAkchaIcon {
      position: relative;
      top: 20px;

      .burgreImg {
        width: 32px;
        height: 32px;
      }
    }

    .accordion {
      --bs-accordion-border-color: none;

      .accordion-item {
        background: transparent;

        .accordion-button {
          background: transparent;
          box-shadow: none;
          padding: 15px 0 0 0;
          width: 90%;
          color: #000;
          font-weight: 600;
          font-size: 16px;

          .burgerColums {
            width: 20px;
            height: 20px;

            .burgerNewsImg {
              width: 16.91px;
              height: 15px;
            }
          }

          &::after {
            background-image: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 14.59L10.58 10L6 5.41L7.41 4L13.41 10L7.41 16L6 14.59Z' fill='black'/></svg>");
          }

          &:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 14.59L10.58 10L6 5.41L7.41 4L13.41 10L7.41 16L6 14.59Z' fill='black'/></svg>");
            --bs-accordion-btn-icon-transform: rotate(-90deg);
          }
        }

        .burgerUpSpace {
          padding: 5px 0 0 0;
          text-decoration: none;
          color: #232323;
        }

        .accordion-body {
          padding: 10px 0 5px 10px;
        }
      }
    }

    .header__language-btn {
      color: #00b346;
      font-weight: 600;

      img {
        width: 20px;
        height: 20px;
        margin-right: 7px;
      }

      .burgerSocialIcons {
        width: 180px;
        height: 20px;
        position: absolute;
        right: 10px;

        .burgerIconsSize {
          float: left;
          margin-right: 40px;
          width: 20px;
          height: 17px;
        }
      }
    }

    .burgerNumbers {
      font-size: 16px;

      .clientBur {
        font-size: 16px;
        padding-left: 15px;
        color: #a8a9ad;
        font-weight: 500;
      }

      .burgerMail {
        a {
          font-weight: 600;
          color: #00b346;
        }
      }
    }

    hr {
      margin: 1.5rem 25px 0.5rem 0;
      border-radius: 500px;
      background: #e8eaec;
    }

    li {
      font-size: 16px;
    }
  }
}

footer {
  background-color: $color_2;

  .container {
    @include centering();

    .footer__list {
      .footer__title {
        color: $color_1;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
      }

      .footer__link {
        color: $color_1;
        font-size: 16px;
        font-weight: 500;
        line-height: 250%;

        a {
          color: $color_1;
          font-size: 16px;
          font-weight: 500;
          line-height: 250%;
          cursor: pointer;
        }
      }

      .email {
        color: #ffdf6e;
      }
    }

    .footer__sub-title {
      color: $color_1;
      font-size: 10px;
      font-weight: 500;
      line-height: normal;
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .container {
      .footer__logo {
        margin: 0 0 0 -10px;
      }

      .footer__list {
        .footer__title {
          color: #00ee5d;
        }
      }

      .footer__social {
        img {
          width: 59px;
        }
      }
    }
  }
}
