@import "../../styles/variables.scss";
@import "../../styles/adaptive.scss";

.history {
  background: #fefbf2;
  width: 100%;
  padding: 0 0 200px 0;
  @include centering;
  @include adaptive-value("padding-top", 114, 70, 0);
  box-sizing: border-box;
  
  .navigation-titles {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 0 !important;
    float: left;
    a {
      color: #00b346;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      text-decoration: none !important;
      @include adaptive-value("font-size", 16, 15, 0);
    }

    li {
      color: #a8a9ad;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }
  .personal-section-main-block {
    max-width: 350px;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #00b346 0%, #00d955 100%);
    border-radius: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    h2 {
      color: #fff;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @include adaptive-value("font-size", 24, 20, 0);
    }
  }
  .sidebar {
    float: left;
    max-width: 265px;
    width: 100%;
    padding-left: 18px;
    .sidebar-block {
      gap: 9px;
      height: 41px;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      p {
        color: #707675;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-top: 12px;
      }
    }
    .sidebar-block-active {
      align-items: center;
      gap: 9px;
      border-radius: 8px;
      height: 41px;
      background: #eef0f3;
      text-decoration: none;
      cursor: pointer;
      p {
        color: #383c45;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 12px;
      }
    }
    h5 {
      color: #a8a9ad;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .history_sidebar_btn {
    padding: 10px 0 0 0;
    border: none;
    background: none;
  }
  .history_title {
    width: 93.5%;
    margin: 200px 0 0;
    h3 {
      color: #adb3b3;
      font-size: 14px;
      font-style: normal;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      line-height: normal;
    }
    h3:nth-child(2) {
      color: #383c45;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      line-height: normal;
      padding: 0 0 16px 0;
    }
  }
  .history_card {
    padding: 24px 0 0 0;
    border-bottom: solid 1px #e8eaec;
    .history_card_information {
      p {
        color: #00b346;
        font-size: 12px;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        line-height: normal;
        span {
          width: 6px;
          height: 6px;
          margin-right: 5px;
          border-radius: 5px;
          background: #00b346;
        }
      }
      .history_card_information_processing {
        color: #3445de;
        span {
          background: #3445de;
        }
      }
      .history_card_information_close {
        color: #adb3b3;
        span {
          background: #adb3b3;
        }
      }
      .history_card_information_name {
        h3 {
          color: #383c45;
          font-size: 14px;
          font-style: normal;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          line-height: normal;
        }
        p {
          color: #adb3b3;
          text-align: right;
          font-size: 12px;
          font-style: normal;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          line-height: normal;
        }
      }
      .history_card_information_drop {
        .accordion {
          --bs-accordion-bg: none;
          --bs-accordion-btn-focus-box-shadow: none;
          --bs-accordion-active-bg: none;
          --bs-accordion-btn-icon-width: 12px;
          .accordion-item {
            border: none;
            .accordion-button {
              padding: 20px 0;
              width: 150px;
              color: #707675;
              font-size: 14px;
              font-style: normal;
              font-family: "Montserrat", sans-serif;
              font-weight: 500;
              line-height: normal;
            }
            .accordion-body {
              padding: 20px 0;
              p {
                color: #adb3b3;
                font-size: 12px;
                font-style: normal;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                line-height: normal;
                padding: 24px 0 0 0;
              }
              h4 {
                color: #383c45;
                font-size: 14px;
                font-style: normal;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                line-height: normal;
              }
              .history_card_information_drop_btn {
                color: #fff;
                padding: 7px 37px;
                font-size: 12px;
                font-family: "Montserrat", sans-serif;
                border: none;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                border-radius: 7px;
                background: #00b346;
                margin: 12px 0;
              }
              .history_card_information_drop_second {
                .accordion {
                  border-radius: 2px;
                  border: 1px solid #e8eaec;
                  margin-right: 30px;
                  padding: 0 5px;

                  --bs-accordion-btn-icon-transform: rotate(-90deg);
                  .accordion-item {
                    border-bottom: solid 1px #e8eaec;
                    .accordion-button {
                      padding: 15px 12px;
                      color: #a8a9ad;
                      width: 100%;
                      font-family: "Montserrat", sans-serif;
                      font-size: 12px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                    }

                    .accordion-body {
                      padding: 0 10px 0 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
body {
  background: #fefbf2;
}

@media screen and (max-width: 768px) {
  .history_title {
    margin-top: 40px !important;
  }
  .history_card_information_drop_second {
    .accordion {
      margin-right: 0 !important;
      margin-top: 30px;
    }
  }
}