@import '../../styles/variables.scss';
@import "../../styles/adaptive.scss";

.reset {
  padding: 0 0 200px 0;
  background: $color_3 !important;
  box-sizing: border-box;
  @include adaptive-value("padding-top", 114, 70, 0);
  .container {
    @include centering;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .navigation-titles {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 0 !important;
    a {
      color: $color_2;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      text-decoration: none !important;
      @include adaptive-value("font-size", 16, 15, 0);
    }

    li {
      color: #a8a9ad;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }
  .personal-section-main-block {
    max-width: 350px;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #00b346 0%, #00d955 100%);
    border-radius: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      color: $color_1;
      text-align: center;
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @include adaptive-value("font-size", 24, 20, 0);
    }
  }
  .sidebar {
    float: left;
    max-width: 265px;
    width: 100%;
    padding-left: 18px;
    .sidebar-block {
      gap: 9px;
      height: 41px;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      p {
        color: #707675;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-top: 12px;
      }
    }
    .sidebar-block-active {
      align-items: center;
      gap: 9px;
      border-radius: 8px;
      height: 41px;
      background: #eef0f3;
      text-decoration: none;
      cursor: pointer;
      p {
        color: $color_4;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 12px;
      }
    }
    h5 {
      color: #a8a9ad;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .personal-reset_header {
    h6 {
      color: #adb3b3;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
    }
  }
  .personal-reset_input {
    position: relative;
    label {
      color: #adb3b3;
      font-size: 12px;
      margin-top: 24px;
      margin-bottom: 8px;
    }
    .personal-reset_ison {
      position: relative;
      max-width: 350px;
      input {
        width: 100%;
        height: 39px;
        padding-left: 12px;
        border-radius: 5px;
        border: 1.5px solid #e8eaec;
        background: $color_1;
      }
      button {
        position: absolute;
        right: 12px;
        top: 9px;
      }
    }
  }
  .personal-reset_error {
    max-width: 350px;
    color: #f61156;
    font-size: 12px;
    font-weight: 500;
  }
  .input-error {
    border: 1px solid #f61156 !important;
  }
  .personal-reset_button {
    button {
      height: 52px;
      border-radius: 8px;
      background: $color_2;
      max-width: 255px;
      width: 100%;
      color: $color_1;
      @include adaptive-value("font-size", 18, 16, 0);
    }
  }
}

@media (max-width: 768px) {
  .reset {
    padding-bottom: 0;
    .personal-section-main-block {
      max-width: 100%;
    }
    .profile-name {
      border-radius: 0 24.726px 2.473px;
      background: $color_2;
    }
    .personal-reset {
      position: relative;
      margin: 0 auto;
      padding-top: 30px;
      .back-arrow {
        position: absolute;
        top: 33px;
      }
    }
    .personal-reset_header {
      h6 {
        font-size: 18px;
        font-weight: 700;
        color: $color_4;
        text-align: center;
      }
    }
    .personal-reset_input {
      .personal-reset_ison {
        max-width: 100%;
      }
    }
    .personal-reset_error {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
      margin-top: 110px;
    }
    .personal-reset_button {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      button {
        max-width: 360px;
        height: 42px;
      }
    }
  }
}
