@import "../../styles/variables.scss";
@import "../../styles/adaptive.scss";

.contact-form {
  background-color: #fefbf2;
  margin-bottom: 150px;
  @include adaptive-value("padding-top", 114, 70, 0);
  box-sizing: border-box;
  .container {
    @include centering();

    .navigation-titles {
      display: flex;
      align-items: center;
      gap: 7px;

      li {
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        color: #a8a9ad;

        a {
          color: #00b346;
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          text-decoration: none !important;
          @include adaptive-value("font-size", 16, 15, 0);
        }
      }
    }

    .personal-section-main-block {
      max-width: 350px;
      width: 100%;
      height: 60px;
      background: linear-gradient(180deg, #00b346 0%, #00d955 100%);
      border-radius: 5px 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      
      h2 {
        color: $color_1;
        text-align: center;
        font-size: 24px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        @include adaptive-value("font-size", 24, 20, 0);
      }
    }

    .sidebar {
      float: left;
      max-width: 255px;
      width: 100%;
      padding-left: 18px;
      .sidebar-block {
        gap: 9px;
        height: 41px;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        p {
          color: #707675;
          font-size: 14px;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 500;
          padding-top: 12px;
        }
      }
      .sidebar-block-active {
        display: flex;
        flex-direction: column;
        gap: 12px;
        border-radius: 8px;
        height: 105px;
        background-color: #eef0f3;
        text-decoration: none;
        padding-top: 12px;
        cursor: pointer;
        .active-icons {
          gap: 9px;
        }
        span {
          color: #383c45;
          font-size: 14px;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 600;
        }
        a:nth-child(2) {
          color: #00b346;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding-left: 30px;
        }
        a:nth-child(3) {
          color: #707675;
          font-family: "Montserrat" , sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding-left: 30px;
        }
      }
      h5 {
        color: #a8a9ad;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
      }
    }

    .contact-form___block {
      height: 50px;
      border-radius: 0 24.726px 2.473px;
      background: linear-gradient(180deg, #00b346 0%, #00d955 100%);

      h1 {
        @include adaptive-value("font-size", 32, 20, 0);
      }
    }

    .contact-form__title {
      margin: 200px 0 0;

      b {
        color: #adb3b3;
      }

      .contact-form__back-arrow {
        width: 16px;
        height: 16px;
      }

      h2 {
        color: #383c45;
      }
    }

    form {
      max-width: 445px;

      b {
        color: $color_4;
      }

      label {
        color: #a8a9ad;
        font-size: 12px;
        font-weight: 500;
      }

      input {
        height: 39px;
        background-color: $color_1;
        border: 1.5px solid #e8eaec;

        &::placeholder {
          color: #8c9291;
          @include adaptive-value("font-size", 14, 12, 0);
          font-weight: 500;
        }
      }

      .form-submit-container {
        max-width: 255px;
      }

      .form-submit-button {
        height: 52px;
        background: $color_2;
      }

      .modal {
        animation: slideFromBottom 0.3s ease-in-out;

        @keyframes slideFromBottom {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(100%);
          }
        }

        &.show {
          animation: slideFromBottomShow 0.3s ease-in-out;

          @keyframes slideFromBottomShow {
            0% {
              transform: translateY(100%);
            }
            100% {
              transform: translateY(0);
            }
          }
        }

        @keyframes slideFromBottom {
          0% {
            transform: translateY(100%);
          }
          100% {
            transform: translateY(0);
          }
        }

        .modal-dialog-centered {
          max-width: 768px;
          transition: all 0.3s;

          .modal-content {
            .line {
              width: 60px;
              height: 4px;
              background-color: #d9d9d9;
            }

            p {
              @include adaptive-value("font-size", 14, 12, 0);
              color: #adb3b3;
            }

            button {
              top: 14px;
              right: 18px;
            }
          }
        }
      }
    }

    .color_1 {
      color: $color_1;
    }
  }
}

.dropdown__button {
  color: #8c9291;
  border: 1.5px solid #e8eaec;
  background-color: $color_1;
  padding: 10px;
}

ul {
  .dropdown-item {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .contact-form {
    .container {
      .contact-form__title {
        margin: 30px 0 0;
      }

      form {
        .form-submit-container {
          max-width: 425px;
          position: fixed;
          right: 16px;
          bottom: 40px;
          left: 16px;
        }

        .form-submit-button {
          height: 46px;
        }

        .modal {
          .modal-dialog-centered {
            min-height: auto;
            position: fixed;
            bottom: 0;
            margin: 0;

            .modal-content {
              border-radius: 25px 25px 0px 0px;
            }
          }
        }
      }
    }
  }
}
