@import "../../styles/variables.scss";
@import "../../styles/adaptive.scss";

.repayments {
  background: #fefbf2;
  width: 100%;
  padding: 0 0 170px 0;
  @include centering;
  @include adaptive-value("padding-top", 114, 70, 0);
  box-sizing: border-box;

  ul {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0;

    li {
      color: #a8a9ad;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;

      a {
        color: #00b346;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-decoration: none !important;
        @include adaptive-value("font-size", 16, 15, 0);
      }
    }
  }
  .personal-section-main-block {
    max-width: 350px;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #00b346 0%, #00d955 100%);
    border-radius: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    h2 {
      color: #fff;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @include adaptive-value("font-size", 24, 20, 0);
    }
  }
  .sidebar {
    float: left;
    max-width: 255px;
    width: 100%;
    padding-left: 18px;
    .sidebar-block {
      gap: 9px;
      height: 41px;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      p {
        color: #707675;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-top: 12px;
      }
    }
    .sidebar-block-active {
      align-items: center;
      gap: 9px;
      border-radius: 8px;
      height: 41px;
      background: #eef0f3;
      text-decoration: none;
      cursor: pointer;
      p {
        color: #383c45;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 12px;
      }
    }
    h5 {
      color: #a8a9ad;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .history_sidebar_btn {
    padding: 10px 0 0 0;
    border: none;
    background: none;
  }
  .repayments_title {
    width: 93.5%;
    margin: 200px 0 0;
    h3 {
      color: #adb3b3;
      font-size: 14px;
      font-style: normal;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      line-height: normal;
    }
    h3:nth-child(2) {
      color: #383c45;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      line-height: normal;
      padding: 0 0 20px 0;
    }
  }
  .repayments_check {
    border-bottom: solid 1px #e8eaec;
    padding: 20px 0;
    h3 {
      color: #383c45;
      font-family: "Montserrat", sans-serif;

      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @include adaptive-value("font-size", 18, 15, 1);
    }
    h6 {
      color: #adb3b3;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .repayments_check_name {
      padding: 0 0 15px 0;
    }
    .repayments_check_sum {
      padding: 15px 0 20px 0;
    }
    .repayments_check_title {
      text-align: right;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      span {
        width: 6px;
        height: 6px;
        border-radius: 50px;
        margin-right: 4px;
        margin-top: 2px;
      }
    }
    .repayments_check_title_fourth {
      color: #00b346;
      span {
        background: #00b346;
      }
    }
    .repayments_check_title_third {
      color: #3445de;
      span {
        background: #3445de;
      }
    }
    .repayments_check_title_second {
      color: #3445de;
      span {
        background: #3445de;
      }
    }
    .repayments_check_title_first {
      color: #f61156;
      span {
        background: #f61156;
      }
    }
  }
}
body {
  background: #fefbf2;
}

@media screen and (max-width: 768px) {
  .personal-section-main-block {
    border-radius: 5px 30px !important;
  }
  .repayments_title {
    margin-top: 40px !important;
  }
}
